.navbarContainer {
    height: 10vh;
    width: 100%;
    background-color: #e1b382;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}